<div id="preloader" class="signature-adler">
   <div id="status"></div>
</div>
    <!-- end : preloader -->
    
<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-adler">
            <ul class="slimmenu">
              <li>
                  <a ui-sref="main.menu.coleccion">Inicio</a>
              </li> 
              <li>
                  <a  ui-sref="main.menu.contact">Contacto</a>
              </li>
              <li>
                  <a class="sub-collapser">Pasarelas</a>
                  <ul>
                    <li><a ng-repeat="video in videos" ng-click="goToVideoSection(video)">{{video.descriptionLink | initialToCapitalFilter}}</a></li>
                  </ul>
              </li>
              <li>
                  <a class="sub-collapser" href="">Diseños</a>
                  <ul>
					<li><a ng-repeat="product in products" ng-click="goToProducts(product)">{{product.name | initialToCapitalFilter}}</a></li>
                  </ul>

              </li>
            </ul>
</nav>
<!-- mobile only navigation : ends -->

    <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header  class="masthead signature-adler silver-bg">
      <div class="masthead-inner">
        <a ui-sref="main.menu.coleccion"><img style="margin-left:-40px;margin-top:-60%" width="200" height="170" alt="" title="" src="images/logo11.png"></a>
        <nav class="mastnav signature-adler">
          <ul class="main-menu signature-adler">
            <li>
               <a class="main-link font3" ui-sref="main.menu.contact">Contacto</a>
            </li>
            <li><a class="main-link font3" ui-sref="main.menu.about">Acerca de</a></li>
            <li>
                <a class="main-link font3 sub-menu-trigger">Pasarelas</a>
                <div class="sub-menu font3">
                    <a ng-repeat="video in videos" ng-click="goToVideoSection(video)">{{video.descriptionLink | initialToCapitalFilter}}</a>
                </div>
            </li>
            <li>
                <a class="main-link font3 sub-menu-trigger">Diseños</a>
                <div class="sub-menu font3">
                    <a ng-repeat="product in products" ng-click="goToProducts(product)">{{product.name | initialToCapitalFilter}}</a>
                </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>

<section ng-if="loadIsComplete" class="mastwrap signature-adler">
		<ui-view></ui-view>
		<footer class="mastfoot signature-adler white-bg">
			<div class="container-fluid">
				<div class="row">
					<article class="col-md-1 text-left">
						<img data-no-retina alt="" title="" class="img-responsive" src="images/vanguardiafooterlogo.png"/>
					</article>
					<article style="margin-top:2%" class="credits col-md-5  text-left">
						<p class="font3 dark"><a target="_blank" href="http://themeforest.net/user/designova/portfolio">Copyright &copy; 2017 Vanguardia</a></p>
					</article>
					<ul class="foot-social col-md-6 text-right">
						<li><a href="#"><img data-no-retina alt="" title="" src="images/social/03.svg"/></a></li>
					</ul>
				</div>
			</div>
		</footer>
</section>



