<!DOCTYPE html>


<html ng-app="App" >
	<head>  
			<meta charset="utf-8">  
			<title> Todo List</title>
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		
  			<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"> 
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			  <link rel="stylesheet" href="stylesheets/main-bg.css">
			
    </head>
	<body>
		
				<div  ng-controller="AppCtrl" layout="column" layout-fill ng-cloak>
			
      
					<section layout="row" flex layout-align="end stretch class="login"  >
						
				   <section id="parallaxAbout" class="first-fold signature-adler fullheight about-bg parallax " data-stellar-background-ratio="0.5">
                      
					  <section class="main-heading fixed-bottom">
                            <h1 class="white font3bold"></h1>
 <h6 class="white font3light"> Universidad Autonoma de Baja California         </h6>
                       <div class="liner color-bg"></div>
                   </section>
               </section>
			   
						<md-card class="md-whiteframe-8dp" flex="30">
							<md-toolbar>
								<div layout="column" layout-padding layout-align="center center">
									<div>
										<md-icon class="logo">home</md-icon>
									</div>
									<div class="md-headline md-padding">Uabc</div>
								</div>
							</md-toolbar>
							<md-card-content>
								<form name="login">
									<md-input-container class="md-block">
										<label for="email">correo uabc</label>
										<input type="email" name="email" ng-model="vm.email" required />
									</md-input-container>
									<md-input-container class="md-block">
										<label for="password">Contraseña</label>
										<input type="password" name="password" ng-model="vm.password" required />
									</md-input-container>
									<md-input-container class="md-block">
										<div layout="row" layout-align="center center">
											<md-button class="md-raised md-accent" flex="50">Login</md-button>
										</div>
									</md-input-container>
								</form>
							</md-card-content>
						</md-card>
					</section>
				</div>
				<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
				<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
				<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
				<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
				<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
				<script src="./loginController.js"></script> 
	</body>
</html>


 <md-card style="width:700px" >