<div>   
				<div  ng-controller="AppCtrl" layout="column" layout-fill ng-cloak>
	
							<md-toolbar>
								<div>
									
									<div class="md-headline md-padding">HutchinsonPort</div>
								
								</div>
							</md-toolbar>
							</div>
						<div  ng-controller="fotosCtrl">

                         
                            <md-card class="cardT">	
									
							<!--<div ng-repeat="foto in fotos"> 	-->
						<!--<div> 	-->
								<md-grid-list
								 md-cols-gt-md="2"  
								  md-row-height-gt-md="3:2"  md-gutter="50px" md-gutter-gt-md="2px" > 
									<md-grid-tile ng-repeat="departamento in departamentos">
										
							  <md-card class="gridList">
							<!--<md-card class="card">		 	-->
						         <!--<img class="img" ng-src="{{foto.img}}">-->
                        <div  layout="row" layout-align="space-between end" >  
                                <p class="btnC"> {{departamento.area.nombre}}</p>
							
							<md-card-actions> 
							
					          <estado-Boton class="btnC" ng-click="ShowInfo($index)">	</estado-Boton>
						
							</md-card-actions>
							
							</div>
                         	
	                         <md-title class="max" ng-show="foto.Expanded">
								<md-button  ui-sref="{id: departamento._id}"> {{departamento.nombre}}</md-button>	
										<p> {{foto.datos}}</p>
							 </md-title> 
						
						
			<!--///////////				</div>-->
							  <!--</md-card> -->
							</md-card>

</md-grid-tile>
</md-grid-list>
			<!--</div>-->
                            </md-card>
                           
						</div>
						
					
				</div>