<div class="row">
    <div class="col-sm-12 col-xs-12">
        <img ng-if="!newItem.photoURL" src="./assets/img/placeholder.png" class="img-fluid img-rounded" alt="{{newItem.name}}">
        <img ng-src="{{newItem.photoURL}}" class="img-fluid img-rounded" alt="{{newItem.name}}">
    </div>
</div>
<div class="container-fluid" style="margin-top:8px">
    <div class="col-sm-12 col-xs-12">
        <div class="md-form">
            <input ng-model="newItem.photoURL" class="form-control" id="new-item-photo" type="url"/>
            <label ng-if="itemType === 'Dish'" for="new-item-photo">Link de la imagen del platillo:</label>
            <label ng-if="itemType === 'Beverage'" for="new-item-photo">Link de la imagen de la bebida:</label>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div class="md-form">
            <input ng-model="newItem.name" class="form-control" id="new-item-name" type="text"/>
            <label ng-if="itemType === 'Dish'"  for="new-item-name">Nombre del platillo:</label>
            <label ng-if="itemType === 'Beverage'" for="new-item-name">Nombre de la bebida:</label>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div class="md-form">
            <input ng-model="newItem.description" class="form-control" id="new-item-description" type="text"/>
            <label ng-if="itemType === 'Dish'" for="new-item-description">Descripción del platillo:</label>
            <label ng-if="itemType === 'Beverage'" for="new-item-description">Descripción de la bebida:</label>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-sm-12 col-xs-12">
        <div class="md-form">
            <input ng-model="newItem.price" class="form-control" id="new-item-price" type="number"/>
            <label ng-if="itemType === 'Dish'"  for="new-item-price">Precio del platillo</label>
            <label ng-if="itemType === 'Beverage'" for="new-item-price">Precio de la Bebida</label>
        </div>
    </div>
</div>
<div class="container-fluid text-xs-center">
    <div style="height:90px;width:100%;">
        <div class="flex-center">
            <button class="btn btn-primary btn-sm waves-effect" ng-click="saveItem()(newItem)">Guardar</button>
        </div>
    </div>
</div>
