<!--<div ng-if="item.beverage" class="col-sm-12 col-xs-12">
            <div class="card animated slideInLeft">
                <div class="card-header red white-text text-xs-center">{{item.beverage.name}}</div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <img ng-src="{{item.beverage.photoURL}}" class="img-rounded img-fluid" alt="{{item.beverage.name}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-xs-center col-sm-12">
                            <p><strong>Descripción:</strong><br>{{item.beverage.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-xs-offset-1 col-sm-offset-1">
                            <p><strong>Precio:</strong><br>{{item.beverage.price | currency}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <p class="text-xs-center"><strong>Cantidad</strong><br>{{item.quantity}}</p>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <p class="text-xs-center"><strong>Total</strong><br>{{item.quantity * item.beverage.price | currency}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-block" style="width:200px">
                            <button style="margin-left:60px;" class="btn btn-primary btn-sm waves-effect" ng-click="incrementItemQuantity(item)"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-danger btn-sm waves-effect" ng-click="decrementItemQuantity(item)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

<div class="row spaced-row">

    <div  class="animated slideInUp">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                        <img ng-src="{{item.photoURL}}" class="img-rounded img-fluid" alt="{{item.name}}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-xs-center col-sm-12">
                    <p><strong>Descripción:</strong><br>{{item.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-xs-offset-1 col-sm-offset-1">
                    <p><strong>Precio:</strong><br>{{item.price | currency}}</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <p class="text-xs-center"><strong>Cantidad</strong><br>{{item.quantity}}</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <p class="text-xs-center"><strong>Total</strong><br>{{item.quantity * item.price | currency}}</p>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="center-block" style="width:200px">
                    <button style="margin-left:60px;" class="btn btn-primary btn-sm waves-effect" ng-click="addOrderItem(item)"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="removeOrderItem(item)"><i class="fa fa-minus"></i></button>
                </div>
            </div>
    </div>

            <!--<div ng-if="item.dish" class="col-sm-12 col-xs-12">
                    <div class="card animated slideInLeft">
                        <div class="card-header red white-text text-xs-center">{{item.dish.name}}</div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-2">
                                    <img ng-src="{{item.dish.photoURL}}" class="img-rounded img-fluid" alt="{{item.dish.name}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-xs-center col-sm-12">
                                    <p><strong>Descripción:</strong><br>{{item.dish.description}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-xs-offset-1 col-sm-offset-1">
                                    <p><strong>Precio:</strong><br>{{item.dish.price | currency}}</p>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <p class="text-xs-center"><strong>Cantidad</strong><br>{{item.quantity}}</p>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <p class="text-xs-center"><strong>Total</strong><br>{{item.quantity * item.dish.price | currency}}</p>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="center-block" style="width:200px">
                                    <button style="margin-left:60px;" class="btn btn-primary btn-sm waves-effect" ng-click="incrementItemQuantity(item)"><i class="fa fa-plus"></i></button>
                                    <button class="btn btn-danger btn-sm waves-effect" ng-click="decrementItemQuantity(item)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

    </div>
