<material-preloader class="spaced-row" position="bottom" height="5px" col1='#159756' col2='#da4733' col3='#3b78e7' col4='#fdba2c' ></material-preloader>
<div class="container-fluid hidden-sm-down spaced-row">
    <order-menu-item ng-repeat="beverage in beverages" item="beverage" opened-order="openedOrder" add-ordered-item="addOrderItem"><order-menu-item>
</div>
<div class="row hidden-md-up spaced-row">
    <order-menu-item ng-repeat="beverage in beverages" item="beverage" opened-order="openedOrder" add-ordered-item="addOrderItem"><order-menu-item>
</div>
