<div class="container-fluid spaced-row hidden-sm-down">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header red white-text text-xs-center">
                Nombre del cliente: {{clientName}}
            </div>
            <div class="card-block" style="height:55vh; overflow-y:scroll">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th class="text-xs-center">Cantidad</th>
                                <th class="text-xs-center">Precio</th>
                                <th class="text-xs-center">Total</th>
                                <th></th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="orderItem in order.orderItems" >
                                <tr>
                                <th><img class="img-rounded" width="100px" height="70px" ng-src="{{orderItem.photoURL}}" alt="{{orderItem.name}}"></th>
                                <th><p><small>{{orderItem.name}}</small></p></th>
                                <th><p class="text-xs-center"><small>{{orderItem.quantity}}</small></p></th>
                                <th><p class="text-xs-center"><small>{{orderItem.price | currency}}</small></p></th>
                                <th><p class="text-xs-center"><small>{{orderItem.quantity * orderItem.price | currency}}</small></p></th>
                                <th><button class="btn btn-primary btn-sm waves-effect pull-xs-right"  ng-click="addOrderItem(orderItem)"><i class="fa fa-plus"></i></button></th>
                                <th><button class="btn btn-danger btn-sm waves-effect" style="margin-left:-10px" ng-click="removeOrderItem(orderItem)"><i class="fa fa-minus"></i></button></th>
                                </tr>
                            </tbody>
                    </table>
                </div>
                    <p class="text-xs-center"><strong>Total: {{order.orderTotal| currency}}</strong></p>
                    <div class="center-block text-xs-center" style="margin-bottom:20px" >    
                            <button type="button" class="btn btn-success waves-effect btn-sm" ng-disabled="order.orderItems == 0" ng-click="finishOrder()">Finalizar orden</button>
                    </div>
                </div>
            </div>
        </div>

<div class="row spaced-row hidden-md-up animated slideInLeft">
    <div class="col-md-12">
        <div  class="list-group">       
            <button class="list-group-item red white-text text-xs-center" type="button">
               Nombre del cliente: {{clientName}}
            </button>
            <p class="text-xs-center" ng-if="order.orderItems == 0"><strong>No has agregado nada a tu orden</strong></p>
            <button  ng-repeat="orderItem in order.orderItems" ng-click="goToOrderItemDetails(orderItem)" class="list-group-item waves-effect" type="button">
                <span  class="label bg-primary label-pill red pull-xs-right">{{orderItem.quantity}}</span>
                {{orderItem.name}}
            </button>
            <button class="list-group-item red white-text" type="button">
                Total <span class="label bg-primary label-pill pull-xs-right">{{order.orderTotal | currency}}</span>
            </button>
        </div>
    </div>
</div>
 
